#button{
    -fx-background-radius: 5em;
    -fx-min-width: 58px;
    -fx-min-height: 58px;
    -fx-max-width: 58px;
    -fx-max-height: 58px;
    -fx-background-color: transparent;
    -fx-border-image-repeat: no-repeat;
    -fx-background-size: contain;
}

#button:hover{
    -fx-background-radius: 5em;
    -fx-min-width: 58px;
    -fx-min-height: 58px;
    -fx-max-width: 58px;
    -fx-max-height: 58px;
    -fx-background-color: gold;
    -fx-opacity: 40%;
    -fx-border-image-repeat: no-repeat;
    -fx-background-size: contain;
}

#button:pressed{
    -fx-background-radius: 5em;
    -fx-min-width: 58px;
    -fx-min-height: 58px;
    -fx-max-width: 58px;
    -fx-max-height: 58px;
    -fx-background-color: green;
    -fx-opacity: 60%;
    -fx-border-image-repeat: no-repeat;
    -fx-background-size: contain;
}